<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="oav_definations">

        <!-- MATH -->
        <xacro:property name="math_pi" value="3.1415" />

        <!-- BASE -->
        <xacro:property name="base_link_w" value="0.3"/>
        <xacro:property name="base_link_l" value="0.3"/>
        <xacro:property name="base_link_h" value="0.1"/>
        <xacro:property name="base_link_mass" value="50.0"/>

        <!-- TURTLE -->
        <xacro:property name="turtle_link_length" value="0.03125"/>
        <xacro:property name="turtle_link_radius" value="0.0625"/>

        <!-- WHEEL -->
        <xacro:property name="wheels_radius" value="0.05"/>
        <xacro:property name="wheels_length" value="0.0025"/>
        <xacro:property name="wheels_mass" value="2.5"/>

        <!-- CASTER WHEEL -->
        <xacro:property name="caster_wheels_radius" value="0.025"/>
        <xacro:property name="caster_wheels_length" value="0.0025"/>
        <xacro:property name="caster_wheels_mass" value="1.0"/>

        <xacro:property name="effort" value="0.0001"/>
        <xacro:property name="velocity" value="0.0"/>


        <xacro:property name="neshLid_v1_base_w" value="0.06"/>
        <xacro:property name="neshLid_v1_base_l" value="0.06"/>
        <xacro:property name="neshLid_v1_base_h" value="0.03"/>
        <xacro:property name="neshLid_v1_base_mass" value="0.01"/>

        <xacro:property name="neshLid_v1_scanner_length" value="0.03"/>
        <xacro:property name="neshLid_v1_scanner_radius" value="0.02"/>
        <xacro:property name="neshLid_v1_base_mass" value="0.005"/>


</robot>