<launch>

    <arg name="prefix" default="rNESH"/>
    <arg name="model" default="$(find oav_description)/urdf/oav_v1.urdf.xacro"/>
    <arg name="gui" default="true"/>
    <arg name="rviz_conf" default="$(find oav_description)/rviz/1.rviz"/>
    
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' 
                                                        prefix:=$(arg prefix)"/>


    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="true"/>

</launch>