<launch>

    <arg name="prefix" default="rNESH"/>
    <arg name="model" default="$(find oav_description)/urdf/oav_v1.urdf.xacro"/>
    <arg name="gui" default="true"/>
    <arg name="rviz_conf" default="$(find oav_description)/rviz/1.rviz"/>
    

  <include file="$(find oav_description)/launch/model_spawner.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="rviz" value="true"/>
  </include>



</launch>