<launch>
  <arg name="prefix" default="rNESH"/>
  <arg name="model" default="$(find oav_description)/urdf/oav_v1.urdf.xacro"/>
  <arg name="use_ros_control_for_base" default="true"/>

  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find oav_description)/launch/model_spawner.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="use_ros_control_for_base" value="$(arg use_ros_control_for_base)"/>
  </include>

  <include if="$(arg use_ros_control_for_base)" file="$(find oav_description)/launch/ctrl_spawner.launch"/>


</launch>