<launch>

    <arg name="prefix" default="rNESH"/>
    <arg name="model" default="$(find oav_description)/urdf/oav_v1.urdf.xacro"/>
    <arg name="gui" default="false"/>
    <arg name="use_ros_control_for_base" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)
    use_ros_control_for_base:=$(arg use_ros_control_for_base)" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 0.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">       
        <param name="publish_frequency" type="double" value="30.0" />
    </node>
    
</launch>